body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F5F4F2;
    padding: 0;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div.date-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 5px;
    margin-top: 15px;
}

div.date {
    background-color: #FFFFFF;
    width: 60px;
    height: 50px;
    margin: 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div.date:hover {
    background-color: #0F222D;
    color: #FFF5D0;
}

div.date.active {
    background-color: #0F222D;
    color: #FFF5D0;
}

div.theatre-container{
    width: 100%;
    min-height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

span.span-date{
    font-size: 1.5em;
}

span.span-name{
    font-size: 0.8em;
}